/* font guideline */

.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: bisque;
}

.button, .resetButton{
    margin: auto;
    text-align: center;
    background-color: #f8c587;
    border-radius: 10px;
    margin: 5px;
    padding: 12px 12px 12px 12px;
    transition: 0.5s
}

.resetButton{
    opacity: 0;
    background-color: #f9d1a0;
}

#scraper, #reset {
    margin: 5px;
    background-color: #5995c5;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 0.75rem 2.25rem;
    text-align: center;
    text-decoration: none;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 1rem;
    transition: opacity 0.5s, transform 0.15s, box-shadow 0.15s;
    opacity: 0.7;
    box-shadow: 0 6px #396a92;
}

#scraper:enabled:hover, #reset:enabled:hover {
    opacity: 0.9;
    cursor:pointer
}

#scraper:enabled:active, #reset:enabled:active {
    transform: translateY(3px);
    box-shadow:0 3px #203c53;
    cursor:pointer
}

#scraper:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

#reset:disabled{
    opacity: 0;
}

.header{
    border-radius: 10px;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    transition: 0.5s all;
    background: #ffbf72;
}


h1{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 5px;


}

#authors {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 5px;
    opacity: 0.70;
}

.rqPrompt {
    margin: 5px; 
    padding: 5px 5px 5px 5px;
    background-color: #f8c587;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.textField{
    font-size: 1rem;
    margin: 5px;
}

#rq{
    font-family: "Atkinson Hyperlegible", sans-serif;
    border-radius: 10px;
    border: none;
    background-color: bisque;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: black;
    opacity: 0.6;
    transition: 0.5s opacity, 0.3s outline;
}

#rq:hover{
    opacity: 1;
}

#rq:focus{
    outline: 2px dashed rgb(216, 125, 51);
    opacity: 1;
}

#tfButton {
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: bisque;
    font-size: 1em;
    padding: 6px 39px;
    opacity: 0.6;
    transition: 0.5s all;
}

.scrapedResult{
    opacity: 0;
    visibility: hidden;
    background-color: #f9d1a0;
    overflow-wrap: break-word;
    margin: 5px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    transition: 0.25s all;
}

#tfButton:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

#tfButton:enabled:hover{
    opacity: 1;
    cursor: pointer
}

#tfButton:enabled:active{
    cursor: pointer
}